.btn1 {
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: greenyellow;
}

.btn1:hover {
    background-color: goldenrod;
    
}
.maindiv {
    height: 50%;
    width: 50%;
    background-color: rgb(6, 6, 78);
    margin-top: 60px;
    text-align: center;
    justify-content: center;
}
p{
    color: aliceblue;
    /* margin-top: 100px; */
    /* margin-bottom: 1000px; */
    /* margin-left: 100px; */
    /* margin-right: 100px; */
}
p:hover{
    color: rgb(222, 228, 234);
}
